/*

    # = id

    . = clase

    * = todo el archivo

*/

*{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; /*Negrita*/
    
}
ul li{
    list-style: none;
}
a{
    color: aliceblue;
    text-decoration: none;
}
h1{
    color: blue;
}

h2{
    color: red;
}
.deporte{
    color: blanchedalmond;
    background-color: aqua;
}

#deportes{
    color: brown;
}

#resaltado{
    color: brown;
}
.articulosDeportes{
    background-color: aquamarine;
}
.articuloinversion{
    background-color: blueviolet;
}
#plazos{
    color: white;
}

header ul li{
    background-color: blueviolet;
}
img{
    text-align: center;
}

table{
    background-color: tomato;
    border-collapse: collapse;
}
th{
    background-color: brown;
}
thead{
    border-bottom: solid 5px black;
}

th,td{
    border: solid 1px black;
}
table{
    width: 100%;
}
#box{
    background-color: aqua;
    padding-left: 5%;
    padding-top: 50px;
    border: solid 5px black;
    margin-top: 50px;
}
