/*

    # = id

    . = clase

    * = todo el archivo

*/

*{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold; /*Negrita*/
}

h1{
    color: blue;
}

h2{
    color: red;
}
.deporte{
    color: blanchedalmond;
    background-color: aqua;
}

#deportes{
    color: brown;
}

#resaltado{
    color: brown;
}
.articulosDeportes{
    background-color: aquamarine;
}
.articuloinversion{
    background-color: blueviolet;
}
#plazos{
    color: white;
}

header ul li{
    background-color: blueviolet;
}


table{
    background-color: tomato;
    border-collapse: collapse;
}
th{
    background-color: brown;
}
thead{
    border-bottom: solid 5px black;
}

th,td{
    border: solid 1px black;
}

tr:nth-child(even){
    background-color: aqua;
}